<div id="<%= dom_id job_company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= job_company.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= job_company.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= job_company.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= job_company.address %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this company", job_company, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this company', edit_job_company_path(job_company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
