<div class="p-2" >
ID: <%= article.id %>
</div>

<div class="p-2" >
Author: <%= article.author.user.full_name %>
</div>

<div class="p-2" >
Body: <%= article.body %>
</div>

<div class="p-2" >
created_at: <%= article.created_at %>
</div>

<div class="p-2" >
updated_at: <%= article.updated_at %>
</div>
