<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag asset_path('article_fav.png') %>
  <title> Daily World | Admin </title>
  <%= render 'shared/link_and_script' %>
</head>
<body>
<% content_for :module do %>
  <a href="<%= admin_admins_path %>" class="flex items-center">
    <%= image_tag 'article_fav.png', class: 'h-6 mr-3 sm:h-9', alt: 'Daily world Logo' %>
    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Admin </span>
  </a>
<% end %>
<%= render 'shared/articles/nav' %>
<div class="container flex flex-wrap items-center justify-between mx-auto">
  <%= render 'shared/flash' %>
</div>
<main class="relative top-14 pb-16 lg:pb-24 bg-white dark:bg-gray-900 justify-center">
  <%= render 'admin/shared/admin_sidebar' %>

  <div class="p-4 sm:ml-64">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <%= yield %>
    </div>
  </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

</body>
</html>