<!DOCTYPE html>
<html>
  <head>
    <title>DailyWorld</title>
    <%= favicon_link_tag asset_path('article_fav.png') %>
    <%= render 'shared/link_and_script' %>

  </head>

  <body>
  <% content_for :module do %>
    <a href="<%= root_path %>" class="flex items-center">
      <%= image_tag 'article_fav.png', class: 'h-6 mr-3 sm:h-9', alt: 'Daily world Logo' %>
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"> Daily World </span>
    </a>
  <% end %>
  <%= render 'shared/articles/nav' %>
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <%= render 'shared/flash' %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex justify-center">
      <%= yield %>
    </main>
  <%= render 'shared/footer' %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
  </body>
</html>
